body {
	font: 400 15px/1.8 Lato, sans-serif;
	color: #777;
	background-color: #f5f8fa !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/**
 * navbar customize
 * edit header menu
 */
.container-fluid{
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.menu img{
	width: 100%;
}
.nav-tabs li a {
  color: #777;
}
#googleMap {
  width: 100%;
  height: 400px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.navbar-default{
  background-color: #180a01 !important;
}
.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0 !important;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.7;
}
.navbar li a, .navbar .navbar-brand { 
  color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important;
}
.nav .dropdown-menu li a {
  color: #000 !important;
}
.nav .dropdown-menu li a:hover {
  background-color: #be6460 !important;
}
/**
 *customize wallpaper element
 *
 * 
 */
.menu{
	position: relative;

  
}
.menu-img{
  min-height: 800px;
  background-image: url('../img/wallpaper.jpg');
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  /*background-attachment: fixed;*/
}
.menu .selection{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.menu .btn-customer{
	opacity: 0.8;
    background-color: #120403;
    border: 1px solid #a2b7e4;
    padding: 14px 12px;
    border-radius: 0px;
}
/**
 *customize search bar
 * 
 */


.search{
	position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}
.search .form-control{
	border-radius: 0px;
	height: 50px;
	background-color: #fff8f8;
}
.search .btn{
	padding: 14px 12px;
	border-radius: 0px;
}
.search .btn-danger{
	background-color: #d06966d6;
    border-color: #c46f71;
}
.search .dropdown-menu{
	margin: 0;
	border-radius: 0px;
	min-width: 300px;
	padding: 0;
}
.search .dropdown-menu>li>a{
	padding: 12px 24px;
	color: #fff !important;
	background-color: #d06966d6;
}
.search .dropdown-menu>li>a:hover{
	background-color: #23140d ;
}

/**
 * 
 */
/* carousel */
.media-carousel 
{
  padding: 0 40px 28px 40px;
  margin: 28px 18px 0px 18px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 124px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 124px;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

/**
 *Category
 * 
 */
.category{
  padding: 72px 20% 64px 20%;
  text-align: center;
  background-color: #fff;
  color: #686868;
}
.padding-cate{
  padding-top: 36px;
  padding-bottom: 28px;
}
.category .type1{
  background-color: #bf55ec;
  padding-top: 36px;
  padding-bottom: 36px;
  color: #fff;
  border-radius: 4px;
}
.category .type2{
  background-color: #f89406;
  padding-top: 36px;
  padding-bottom: 36px;
  color: #fff;
  border-radius: 4px;
}
.category .type3{
  background-color: #7747ff;
  padding-top: 36px;
  padding-bottom: 36px;
  color: #fff;
  border-radius: 4px;
}
.category .type4{
  background-color: #f9690e;
  padding-top: 36px;
  padding-bottom: 36px;
  color: #fff;
  border-radius: 4px;
}
.category .type5{
  background-color: #27ccab;
  padding-top: 36px;
  padding-bottom: 36px;
  color: #fff;
  border-radius: 4px;
}
.category .type6{
  background-color: #f62459;
  padding-top: 36px;
  padding-bottom: 36px;
  color: #fff;
  border-radius: 4px;
}




/**
 * customize course top
 */
.title-course-top{
	text-align: center;
	padding: 68px 0;
  color: #757575;
}
.card-course{
  overflow: hidden;
	padding: 4px 16px;
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 12px 12px 16px 12px;
    
}
.card-course:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-course .course-top{
	border-bottom: 1px solid #d3d3d3;
	max-height: 144px;
	padding-bottom: 16px;
	position: relative;
}
.card-course .course-bottom{
	padding: 16px;
	max-height: 144px;
}
.card-course .course-bottom img{
	max-width: 100%;
	height: auto;
	
}
/*.card-course .course-bottom img:hover{
*	-ms-transform: scale(1.5); 
*    -webkit-transform: scale(1.5);
*    transform: scale(1.5); 
*}
*/
.card-course .course-bottom .btn{
	padding: 8px 12px;
	border-radius: 0;
	margin-top: 12px;
}
.card-course .course-bottom .btn:hover{
  background-color: #5336E7;
  color: #fff;
}
.checked{
	color: #E8DE6B;
}

/**
 * overlay for card course
 * warning: is not using
 */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ecab5a;
  border-radius: 4px;
}
.course-top:hover .overlay{
	opacity: 0.9;

}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/**
 * button more
 */
.more{
	border-radius: 0px !important;
	padding: 12px 24px !important;
  margin-bottom: 44px !important;
}

/* form login*/
.borders-right{
border-right: solid 1px lightgray;
}
.icon-size{
  font-size: 20px;
}
.center-or{
      margin-top: 8px;
  text-align: center; 
}
.text-left{
  text-align: right;

}
.padding-form{
  padding: 24px;
}
/* end login*/

/**
 * customize instructor
 */

.list_instructor{
  padding: 72px 20%;
  background-color: #fff;
  color: #757575;
}
.list_instructor .row{
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
}
.list_instructor .title{
  padding-bottom: 32px;
}
.card_instructor{
  position: relative;
  height: 480px;
  overflow: hidden;
}
.card_instructor img{
  max-width: 100%;
  max-height: auto;
  -moz-transition: all 0.9s;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}
.card_instructor img:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.info-instructor{
  position: absolute;
  color: #fff;
  bottom: 8px;
  left: 10%;
  width: 80%;
  height: 80px;
  padding: 0px 8px;
  background-color: #564094;
  /*border: 1px solid #fff;*/
  text-align: center;
  border-radius: 4px;
}
.info-instructor a{
  color: #A4A4A9;
}
.info-instructor a:hover{
  color: #37F487;
  text-decoration: none;
}
.point-instructor{
  padding: 4px 16px;
  background-color:#564094;
  border: 1px solid #fff;
  text-align: center;
  position: absolute;
  color: #fff;
  top: 5px;
  right: 5px;
  border-radius: 4px;
}
.list_instructor .more{
  margin-top: 36px;
  margin-bottom: 24px !important;
}
/**
 * about us
 */
.about-us{
  padding: 8px 0px 48px;
  background-image: url('../img/backgorund2.jpg');
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-left: 15%;
  padding-right: 15%; 
}
.about-us h1{
  color: #fff;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 24px;
}
.about-us .about{
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  padding: 8px 16px;
  text-align: center;
  height: 300px;
}
.about-us .about h4{
  padding: 0px 0px 12px;
}
.about-us .about p{
  padding: 12px 0px;
}

/**
 * feedback
 */
.feedback{
  padding: 36px 18%;
  background-color: #fff;
  font-size: 16px;
}
.feedback h1{
  padding-top: 12px;
  padding-bottom: 24px;
}
.feedback label{
  margin-bottom: 12px;
}
.feedback .form-control{
  padding: 28px 12px;
  background-color: #f5f5f5;
  border: 1px solid #e8e8e8;
}
.feedback .form-control:focus{
  background-color: #fff;
  border-color: #C3C3C3;
}
.feedback .bot{
  margin-bottom: 48px;
}
.feedback .btn{
  margin-bottom: 28px;
  padding: 12px 64px;
  border-radius: 0;
}

/**
 * footer
 */
.footer{
  background-color: #252525;
  color: #fff;
  padding: 44px 0px 20px;
  background: url('../img/footer2.jpg');
  opacity: 0.9;
}
.footer .content{
  padding-bottom: 24px;
}
.footer .content ul{
  padding-left: 0;
}
.footer .content li{
  color: #fff;
  list-style-type: none;
  padding: 2px 0px;
}
.footer .content li a{
  color: #fff;
  text-decoration: none;
}
.footer .content li a:hover{
  color: #FE7474;
  text-decoration: none;
}
.footer .line{
  padding-top: 20px;
  border-top: 1px solid #9D9D9D;
}

/**
 *responsive for 1366
 * 
 */
@media only screen and (max-width: 1366px) {
  .card_instructor{
    height: 360px;
  }
}